* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#numbers {
    height: 50vh;
    max-width: 50vw;
    margin: 0 auto;
    font-size: 8rem;
    font-family: sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    flex-wrap: nowrap;
}

form {
    width: 500px;
    margin: 0 auto;
}

#submit-answer {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 125px;
}

#submit-answer:hover {
    background-color: #45a049;
}


#countdown {
    font-size: 5rem;
    width: 700px;
    margin: 0 auto;
}

#result {
    font-family: sans-serif;
    font-size: 2rem;
    width: 400px;
    margin: 10px auto;
}

.invisible {
    visibility: hidden;
}